<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Kabuyomi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1248492954379402~7909080109</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KABUYOMI_API_BASE_URL</key>
	<string>$(KABUYOMI_API_BASE_URL)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>MARKET_DOCKET_DEFAULT_ENVIRONMENT</key>
	<string>$(MARKET_DOCKET_DEFAULT_ENVIRONMENT)</string>
	<key>MARKET_DOCKET_PRODUCTION_API_URL</key>
	<string>$(MARKET_DOCKET_PRODUCTION_API_URL)</string>
	<key>MARKET_DOCKET_TESTFLIGHT_API_URL</key>
	<string>$(MARKET_DOCKET_TESTFLIGHT_API_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
