<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.t4dano.marketdocket.testflight-processor</string>
  <key>ProgramArguments</key>
  <array>
    <string>__RUNNER__</string>
  </array>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/processor.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/processor-error.log</string>
</dict>
</plist>
